@charset "utf-8";
body {display: block; margin: 0;color: #333}
ul{list-style: none; padding: 0;margin: 0;}
li{list-style: none;}
p{margin: 0; padding: 0;}
a{
    color: #999999;
    text-decoration: underline;
}
.container{max-width: 640px; overflow: hidden; margin:0 auto; background: #ffffff;padding-bottom: 100px;}
.head{ background-image:url("http://qiansishun.oss-cn-beijing.aliyuncs.com/admin.img/user_bg.jpg");padding-top: 4rem;padding-bottom: 2rem;}
.head img{height: 4rem; width: 4rem; border-radius:50%;box-shadow: 0px 0px 10px #f0f0f0;}
.head .name{margin:7px 0 5px 0; font-size: 1.2rem;}
.head .date{font-size:1.1rem;margin-bottom: 1rem; color: #999;}
.date span{margin: 0 2px;}

.shop-title {
    color: #000000;
    font-size: 16px;
    letter-spacing: 1px;
    margin-top: 15px;
    margin-bottom: 5px;
}
.shop-text {
    color: #666666;
    font-size: 12px;
    line-height: 20px;
}
.status {
    position: absolute;
    z-index: 2;
}
.shop-img img{
    border-radius: 4px;
    margin: 0 7px 0 5px;
    width: 90px;
}