html{ font-size:12px;}
@media screen and (min-width:320px) and (max-width:375px){html{font-size:14px}}
@media screen and (min-width:376px) and (max-width:639px){html{font-size:15px}}
@media screen and (min-width:640px){html{font-size:18px}}
body {display: block; margin: 0;}
* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
body{ font-family: "Heiti SC", "Helvetica Neue", tahoma, arial, sans-serif;}
p{margin: 0}
hr {
    display: block;
    -webkit-margin-before: 0rem;
    -webkit-margin-after: 0rem;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
    border-style: inset;
    border-width: 1px;
}
a{-webkit-tap-highlight-color:rgba(0,0,0,0);}
a:link{
    text-decoration:none;
    color: #999;
}
a:visited{
    text-decoration:none;
    color: #999;
}
a:hover{
    text-decoration:none;
}
a:active{
    text-decoration:none;
}
.mt2{margin-top: 2px;}
.f_20{font-size: 20px;}
.mt32{margin-top: 3.25rem}
img{display: block;width: 100%}
.container{max-width: 640px;margin: 0 auto;padding: 0}
.fixed_top {
    /*background: #fff;*/
    background:#fff; filter:alpha(opacity=95);
    -moz-opacity:0.95;
    -khtml-opacity: 0.95;
    opacity: 0.95;
    position: fixed;
    top: 0;
    z-index: 999;
}
.fixed_gap{
    position: fixed;
    top: 3.3rem;
    z-index: 999;
    width: 100%;
    left: 0;
    display: -webkit-box;filter:alpha(opacity=95);
    -moz-opacity:0.95;
    -khtml-opacity: 0.95;
    opacity: 0.95;
}
.mt37{margin-top: 3.7rem}

/*类似优惠券选择列的css*/
.info_list{background: #fff;width: 100%;border-bottom: 1px solid #f2f2f2;color: #333333; font-size: 1rem}
.info_list a{color: #333333;}
.info_one_active{background-color: #f2f2f2; }
.info_one{width:94%; margin: 0 auto; height: 3.2rem;line-height: 3rem; padding: 0 3%;}
.info_one:hover{background: #f2f2f2}
.info_one img,.list_one img,.checked_right img{width: 1.5rem;height: auto; display: inline-block;vertical-align: middle}
.info_one span,.checked_info_main span,.list_one span{height: 100%;display: inline-block;vertical-align: middle;}
.checked_info_main{float: right;height: 3rem}
.checked_info_main img{height: 1.1rem;width: auto; vertical-align: middle}
span.checked_info{color: #45b5da; margin-right: 0.5rem;}
span.checked_title{margin-left: 0.5rem;}
/*类似优惠券选择列的css*/
/*订单页面底部固定的css*/
.bottom_height{height:50px}
.fixed_menu{position:fixed;bottom:0px; height:50px;background-color:#fff;width: 100%;max-width: 640px;border-top: 1px solid #f0f0f0;z-index: 999999;}
.payment_btn{background: #45B5DA;color: #fff;float: right;width: 40%;line-height: 50px;text-align: center;font-size: 1.2rem;letter-spacing: 1px}
.payment_btn a{color: #fff;}
.amount{float:left;line-height: 50px;padding-left: 1rem;color: #45b5da;font-size: 1.2rem;}
span.discount_label{color: #f8c4b2;font-size:1rem;margin-left: 0.8rem}
/*订单页面底部固定的css*/
/*首页底部固定的css*/
.fixed_menu{background:#fff; filter:alpha(opacity=95); -moz-opacity:0.95; -khtml-opacity: 0.95; opacity: 0.95;position:fixed;bottom:0px; height:50px; width: 100%;max-width: 640px;border-top: 1px solid rgba(0,0,0,.1);display: block;}
#bottom_menu a{width: 25%;float: left;margin: 0 auto; height:50px;text-align: center;color: #999;padding-top: 28px}
#bottom_menu a img{height: 28px; width: auto;margin: 0.5rem auto 0.45rem;}
.haircut_checked span,.order_checked span,#bottom_menu a.personal_checked span,#bottom_menu a.more_checked span{color: #45b5da}
.haircut_checked{background: #fff url(haircut_checked_icon.png) center 6px no-repeat;background-size:21px auto;}
.haircut{background: #fff url(haircut_icon.png) center 6px no-repeat;background-size:21px auto;}
.order_checked{background: #fff url(order_checked_icon.png) center 6px no-repeat;background-size:21px auto;}
.order{background: #fff url(order_icon.png) center 6px no-repeat;background-size:21px auto;}
.personal_checked{background: #fff url(personal_checked_icon.png) center 6px no-repeat;background-size:21px auto;}
.personal{background: #fff url(personal_icon.png) center 6px no-repeat;background-size:21px auto;}
.more_checked{background: #fff url(more_checked_icon.png) center 6px no-repeat;background-size:21px auto;}
.more{background: #fff url(more_icon.png) center 6px no-repeat;background-size:21px auto;}
/*首页底部固定的css*/
/*取消确定37分底部固定的css*/
.fixed_menu {height: 50px;font-size: 12px;}
.pink_btn,.blue_btn{float: left;line-height: 50px;text-align: center;color: #ffffff;font-size: 1.2rem;letter-spacing: 0.5rem;display: inline-block;color: #fff;}
a.pink_btn{color: #999}
a.blue_btn{color: #fff}
.pink_btn{width: 30%; background: #f8c4b2;}
.blue_btn{width: 70%; background: #45b5da;}

/*取消确定37分底部固定的css*/
/*按钮的三种状态*/
.click_btn_blue{
    background: #003668;
    filter:alpha(opacity=70);
    -moz-opacity:0.7;
    opacity:0.7;
}
.focus_btn_blue{
    background-color: #003668;
    filter:alpha(opacity=90);
    -moz-opacity:0.9;
    opacity:0.9;
}
.blue_btn:active {
    background-color: #45b5da;
    filter:alpha(opacity=100);
    -moz-opacity:1;
    opacity:1;
}

.click_pink_btn{
    background: #f4b59f;
    filter:alpha(opacity=70);
    -moz-opacity:0.7;
    opacity:0.7;
}
.focus_pink_btn{
    background-color: #fcd1c3;
    filter:alpha(opacity=90);
    -moz-opacity:0.9;
    opacity:0.9;
}
.pink_btn:active {
    background-color: #f8c4b2;
    filter:alpha(opacity=100);
    -moz-opacity:1;
    opacity:1;
}
/*按钮的三种状态*/

/*page tab切换的css*/
.page{ text-align:left; background:#fff; height:3.2rem; line-height:3.2rem; width:100%; max-width:640px;display:-webkit-box;}
.page li{-webkit-box-flex:1; font-size: 1.1rem; display:block; color:#999; height:3.2rem; line-height:3.2rem; text-align:center; }
.page li a{ color:#999; display:block; height:3.2rem;border-bottom: 2px solid #fff;}
.page a.active{color:#45b5da;border-bottom:2px solid #45b5da;}
/*page tab切换的css*/
.gap{height: 6px;background: #f1f1f1;}


/*title左右分割线的css*/
h3.title {
    color: #F2AE11;
    margin-bottom: 1rem;
    text-align: center;
    font-weight: 500;
    line-height: 1;
}
h3.title span {
    display: block;     /*设置为块级元素会独占一行形成上下居中的效果*/
    font-size: 1.2rem;
    color: #999;
    position: relative;   /*定位横线（当横线的父元素）*/
}
h3.title span:before, h3.title span:after {
    content: '';                 /*CSS伪类用法*/
    position: absolute;         /*定位背景横线的位置*/
    top: 52%;
    background: #dadada;       /*宽和高做出来的背景横线*/
    width: 28%;
    height: 1px;
}
h3.title span:before{
    left: 5%;        /*调整背景横线的左右距离*/
}
h3.title span:after {
    right: 5%;
}

/* loading层 */
.loading_box{position:absolute;z-index:99999;}
.loading_main { padding:5px; background:#3c3c3f; filter:alpha(opacity=90); -moz-opacity:0.9; -khtml-opacity: 0.9; opacity: 0.9;  min-heigh:200px; border-radius:10px; color: #fff; font-size: 1.6rem;letter-spacing: 1px; width: 25%; margin: 0 auto;}
.loading_main img{margin:0;}



/* pop层 */
.pop_box{position:absolute;z-index:99999;}
.pop_main { padding:25px; background:#3c3c3f; filter:alpha(opacity=90); -moz-opacity:0.9; -khtml-opacity: 0.9; opacity: 0.9;  min-heigh:200px; border-radius:10px; color: #fff; font-size: 1.6rem;letter-spacing: 1px;}
.pop_main img{width: 35%;margin: 25px 0;}